{% extends 'view.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <style>
 footer {
      background-color: rgb(226, 226, 226);
      height: 60px;
      margin-top: 70px;
      margin-bottom: 50px;
    }

    p {
      color: white;
      font-family: 'Jeju Gothic', sans-serif;
      text-align: center;
      padding: 20px 20px 20px 20px;
    }
    </style>
</head>
<footer>
    <p>Copyright 2020. 아자아자팀 all rights reserved.</p>
</footer>
</html>
