{% load static %}
<!DOCTYPE html>
<html lang="ko">
 
  <head>
    <title>LOGIN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

  </head>
  <style>
    .header {
    
    box-sizing: border-box;
    width: 350px;
    height: 200px;
    text-align : left;
    margin: 200px auto;
    }
    .blind{
    display: table;
    width: 50px; 
    margin: 50px auto;
    color : black;
    text-decoration: none;
    text-align: center;

  }
  </style>
  
      <h1>
        <a class="blind" href="{% url 'home' %}"><span>PO</span>
        </a></h1>

      <!-- 로그인 폼 CSS -->
      <div class="header">
        <div id="form">
          <form action="login" method="post" enctype="multipart/form-data">
          <!--posst 방식을 사용해야한다고 하던데,,,잘 모르겟습다-->
            <fieldset>
              <legend>LOGIN</legend>
              <label for="id">ID</label>
              <input type="text" name="id" placeholder="아이디를 입력해주세요">
              <br><br>
              <label for="pwd1">Password</label>
              <input type="password" name="pwd1" placeholder="비밀번호를 입력해주세요">
              <br><br>
              <button type="submit">로그인</button><br>
              <a href="{% url 'signup' %}">You Don't Have Your Account?</a>
            </fieldset>
          </form>
        </div>
      </div>
 
      <!-- 하단 -->
      <div id="footer">
        <p align="center">PO</p>
      </div>
    </div>
  </body>
</html>

