<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Singup</title>
	<link rel="stylesheet" href="my.css" type="text/css">
</head>

<body>
	<form name="singup" action="값을 보낼 주소" method="post">
		<a class=fform>
			Poilcy officer
		</a>
		<table id=side class=ffform>
			<tr>
				<td><a class=blind href="index.html" name="index">회원정보수정</a></td>
			</tr>
			<tr> </tr>
			<tr> </tr>
			<tr> </tr>
			<tr> </tr>
			<tr> </tr>
			<tr> </tr>
			<tr>
				<td><a class=blind href="mind.html" name="mind">마음함</a></td>
			</tr>
		</table>

		<table id=mind>
			<tr>
        <td>
				마음에 들어한 정책<td></tr>
			<tr>
				<td>
					<table>
						<tr>
							<td>정책1</td>
							<td> </td>
							<td>정책2</td>
						</tr>
						<tr>
							<td>정책1</td>
							<td> </td>
							<td>정책2</td>
						</tr>
					</table>
			</tr>
		</table>
	</form>
</body>

</html>