<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Singup</title>
	<link rel="stylesheet" href="my.css" type="text/css">
</head>

<body>
	<form name="singup" action="값을 보낼 주소" method="post">
		<a class=fform>
			Poilcy officer
		</a>
		<table id=side class=ffform>
			<tr>
				<td><a class=blind href="index.html" name="index">회원정보수정</a></td>
			</tr>
			<tr> </tr>
			<tr> </tr>
			<tr> </tr>
			<tr> </tr>
			<tr> </tr>
			<tr> </tr>
			<tr>
				<td><a class=blind href="mind.html" name="mind">마음함</a></td>
			</tr>
		</table>
		<span>
		<table id=bigform class=ffform>
			<tr>
				<td>이름</td>
				<td id=body_1>멋쟁이사자들</td>
            </tr>
            <tr>
                <td>아이디</td>
                <td><a id=body_1>멋쟁이사자들</a></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><a id=body_1>password</a></td>
                <td><a id=block_1>변경</a></td>
            </tr>
            <tr>
                <td>주소</td>
                <td><a class=body_1>주소 입니다</a></td>
            </tr>
            <!--주소끌어 오는 방법 알기-->
              <tr>
                <td>생년월일</td>
                <td><a class=body_1>0000년 00월 00일</a></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="submit" value="완료" />
                <td>
            </tr>
        </table>
        </span>
    </form>
</body>
</html>