<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>보건복지정책</title>
</head>
<body>
    성별
    남, 여

    생년월일
    입력

    사는 지역
    서울, 지방

    직업
    대학생, 직장인, 백수

    사는 지역이 경기도 일시
    경기도 청년기본수당
    4분기 대상자 : 1994.10.2~1995.10.1 만 24세 청년
    조건 : 경기도 내 3년 이상 주민등록을 두고 거주
            총 10년 이상 주민등록을 두고 있는 경기도민
    신청기간 : 2019.11.1~11.30
    신청URL 및 폼 : 
    지원가능여부 및 내역 : 총 100만원의 전자카드 또는 모바일 형태로 수령가능합니다.



    코로나지원 - 외국인
    원인 미상 폐렴 등 코로나 의심자
    해외 방문력 있고 14일 이내에 발열 37.5도 이상
    호흡기 증상이 나타난 자
    코로나 바이러스 역학적 연관성있고 호흡기 증상이 있는 자
</body>
</html>